body{min-width: 333px;}

.grid-1{width:8.33%;}
.grid-2{width:17.00%;}
.grid-3{width:25%;}
.grid-4{width:33.33%;}
.grid-5{width:41.65%;}
.grid-6{width:48%;}
.grid-7{width:58.31%;}
.grid-8{width:66.64%;}
.grid-9{width:75%;}
.grid-10{width:83.3%;}
.grid-11{width:91.63%;}
.grid-12{width:100%;}

.grid-container{
    display:grid;
    grid-template-areas:"h h h h h h h h h h h h"
                        "c c c c c c c c c c c c"
                        "f f f f f f f f f f f f";

    grid-template-rows: repeat(3,33%);
    grid-template-columns: repeat(12,8.33%);
}

header{grid-area:h;}
main{grid-area:c;}
footer{grid-area:f;}
aside{grid-area:a;}
section{grid-area:t;}

.img{grid-area:m;}
.text-field{grid-area:t;}

.grid-container-picture-r{display:grid;grid-template-areas:"m t";}
.grid-container-picture-l{display:grid;grid-template-areas:"t m";}
.content-main-grid {display:grid;grid-template-areas: "t a";}




/*Media - Main*/

@media (max-width: 1250px){
    .grid-container-picture-r{display:grid;grid-template-areas:"t""m";}
    .grid-container-picture-l{display:grid;grid-template-areas:"t""m";}
    .card-picture {height:400px;width:100%; margin:0; margin-bottom: 10px;}
    .button-card {margin-bottom:32px;}

    .img{width: 100%;}
    .text-field{width:100%; margin:0; }
    .image-card{justify-content:space-around; flex-direction: column; width:100%;}
    .image-card:hover .text-image{font-size:16px;}

    /*Slider Style*/
    .wrapper-slider {max-width:90%;}
}



@media (max-width:680px){
    /*Slider Style*/
    .wrapper-slider {display: none;}


    header ul+li:after, header ul+li:before{content:""; padding: 0; margin:0;}
    header ul li{display:block; text-align: left;}
    header{height: 180px;}

    /*Header Style*/
    header ul{margin:2%;  text-align-last: center;}

    header li{position:relative; height:2em;}
    header ul li:last-of-type:hover ul
    { text-align: center; text-align-last: center;position: absolute;top:0em;left:2.5em;display:block;z-index: 10000;}
    header ul li:first-of-type:hover ul
    { text-align: center; text-align-last: center;position: absolute;top:0em;left:2.5em; display:block; z-index: 10000;}
    header ul li:hover ul
    {text-align: center; text-align-last: center;position: absolute;top:0em; left:2.5em; display:block; z-index: 10000;}

    header ul li:hover ul li{display:block; background-color: white; width:10em;}
    header ul li:hover ul li:hover{text-decoration: line-through;}

    main{top:200px; padding-bottom: 100px;}


    /* Footer Style*/
    footer{background-color: darkgray;width:100%;height:100px;}
    footer address {position: absolute;right:20px;bottom:5px;}
    /*-----------*/


    .menu-header{height:85%;}
    .sub-menu-header{ height: 15%; position:relative;}
    .sub-menu-flex{width:80%;}
    /* Black-White-Switch*/
    .black-white-switch {position:relative; width: 40px;margin-left:10px; z-index:9998;}
    .black-white-switch-label {border:none;}
    .black-white-switch-inner {display: none;}

    .black-white-switch-inner:before {content: "";padding-left: 0; background-color: white; color: black;}
    .black-white-switch-inner:after {content: "";padding-right: 0;background-color: white; color: black;}

    .black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-inner {margin-left: 0;}
    .black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-switch {right: 0px;background-color: #000203;}
    .black-white-switch-switch {width:32px;right: 5px;}


}






/*Mason Style*/
.gridywrap div[class*=gridy] {background: #eee;box-shadow: inset 0 0 0 1px #ddd;padding: 15px; float: left;position: relative;}
.gridywrap .gridy-1,
.gridywrap .gridy-2,
.gridywrap .gridy-3 {width: 320px;overflow: hidden;}

.gridywrap .gridy-1 {width: 100%;}
.gridywrap .gridy-2 {width: 100%;}
.gridywrap .gridy-3 {width: 100%;}
.gridywrap .gridyhe-1 {height: 320px;}
.gridywrap .gridyhe-2 {height: 320px;}

@media screen and (min-width: 640px) {
    .gridywrap .gridyhe-2 {height: 320px;}
    .gridywrap {width: 100%;}
    .gridywrap .gridy-1 {width: 50%;}
    .gridywrap .gridy-2 {width: 50%;}
    .gridywrap .gridy-3 {width: 100%;}
}
@media screen and (min-width: 1024px) {
    .gridywrap .gridy-1 {width: 33.3%;}
    .gridywrap .gridy-2 {width: 66.6%;}
    .gridywrap .gridy-3 {width: 100%;}
    .gridywrap .gridyhe-2 {height: 640px;}
}




@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr {display: block;}
    thead tr {position: absolute;top: -9999px;left: -9999px;}
    tr { border: 1px solid #ccc; }
    td {border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 50%;}
    td:before {position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body {padding: 0;margin: 0;width: 320px; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {width: 495px;}
}

