.grid-1{width:8.33%;}
.grid-2{width:17.00%;}
.grid-3{width:25%;}
.grid-4{width:33.33%;}
.grid-5{width:41.65%;}
.grid-6{width:48%;}
.grid-7{width:58.31%;}
.grid-8{width:66.64%;}
.grid-9{width:75%;}
.grid-10{width:83.3%;}
.grid-11{width:91.63%;}
.grid-12{width:100%;}

.grid-container{


  display:grid;
  grid-template-areas:"h h h h h h h h h h h h"
  "c c c c c c c c c c c c"
  "f f f f f f f f f f f f";

  grid-template-rows: 5em auto 10em;
  grid-template-columns: repeat(12,8.33%);

}
header{grid-area:h;}
main{grid-area:c;}
footer{grid-area:f;}
aside{grid-area:a;}
section{grid-area:sec;}

.img{grid-area:m;}
.text-field{grid-area:t;}


.grid-container-picture-r{display:grid;grid-template-areas:"m t";}
.grid-container-picture-l{display:grid;grid-template-areas:"t m";}
.content-main-grid {
  display:grid;grid-template-areas:
        "sec sec sec sec sec sec sec sec sec a a a";
  grid-template-columns: repeat(12,8.33%);
  margin: 10px;
}



@media(max-width:1440px){

  html{
    body{

      .flip
      {
        width: 100%;
      }
    }
  }

}

@media (max-width:1250px){



  html {
    body {


      .articel{
        .date {
          right:0;

        }
      }



      .grid-container-picture-r{display:grid !important;grid-template-areas:"t""m" !important;}
      .grid-container-picture-l{display:grid !important;grid-template-areas:"t""m" !important;}


      .image-card
      {
        justify-content:space-around; flex-direction: column; width:100%;
        .img{
          width: 90%;
          margin-left:auto;
          margin-right: auto;

          .card-picture
          {
            height:400px;width:100% ; margin:0 ; margin-bottom: 10px;
            &:hover{}
          }
          .text-image{}

        }

        &:hover{
          .text-image{font-size:1em;}
          .text-field{color:white;transition-delay: 0.2s; transition-duration: 1s;}
          .button-card{transition-delay: 0.2s; background-color: white;transition-duration: 2s;}
        }

        .text-field{width:100% !important; margin:0 !important;
          h3{
            text-align: center;
            &:before{content:"|";}
            &:after{content: "|";}

            span{
              &:before{content:"-|";}
              &:after{content:"|-";}
            }

          }
        }
        .button-card {margin-bottom:32px}

      }

      /*Main Slyder*/

      .wrapper-slider {max-width:90%;}

      ////////////////////////////////


      .content-main-grid {
        display: grid;
        grid-template-areas:
                "sec sec sec sec sec sec sec sec a a a a";
      }

      .slider-news {
        height: 800px;
        width:95%;
        border:1px solid lightgray;
        margin-left:10px;
        margin-right:10px;

        &:hover{
          li{ animation-play-state: paused;}
          .progress-bar{ animation-play-state: paused;}
        }

        .progress-bar {

        }
        .mask-slider {
          height: 800px;


          ul {
            margin: 0;
            padding: 0;
            position: relative;

            li {
              height: 800px;
              img{height:800px;}
            }

          }


        }
      }


    }
  }


}

@media (max-width: 1150px){
  html{
    body{

      .articel{
        .date {
          top:-2.0em;
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (max-width:820px){
  html {
  body{

    .articel{
      .date {
        right:10px;
        top:4em;
        font-size: 1em;
      }
    }


    .content-main-grid {
      display: grid;
      grid-template-areas:
              "a a a a a a a a a a a a"
      "sec sec sec sec sec sec sec sec sec sec sec sec";
    }



    .slider-news {
      height: 600px;
      width: 100%;
      margin-left:auto;
      margin-right:auto;

      &:hover{
        li{ animation-play-state: paused;}
        .progress-bar{ animation-play-state: paused;}
      }

      .progress-bar {

      }
      .mask-slider {
        height: 600px;


        ul {


          li {
            height: 600px;

            img{height:600px;}
          }


        }

      }
    }



  }}
}

@media (max-width:750px){


  .grid-container{
    grid-template-rows: 0 auto 10em;}


  html {
    body {

      .articel{
        .date {
          right:5px;
          top:-2.0em;
          font-size: .8em;
        }
      }

      h1{font-size: 2em;}

      main{top:1em;}
      .grid-container-picture-r{display:grid ;grid-template-areas:"t""m" ;}
      .grid-container-picture-l{display:grid ;grid-template-areas:"t""m" ;}

      .image-card
      {

        .img{
          width: 98%;
          margin-left:auto;
          margin-right: auto;

          .card-picture
          {
            height:400px;width:100% ; margin:0 ; margin-bottom: 10px;
            &:hover{}
          }
          .text-image{}

        }

        &:hover{
          .text-image{font-size:16px;}
          .text-field{color:white;transition-delay: 0.2s; transition-duration: 1s;}
          .button-card{transition-delay: 0.2s; background-color: white;transition-duration: 2s;}
        }

        .text-field{width:100% !important; margin:0 !important;
          h3{
            text-align: center;
            &:before{content:"|";}
            &:after{content: "|";}

            span{
              &:before{content:"-|";}
              &:after{content:"|-";}
            }

          }
        }
        .button-card {margin-bottom:32px}

      }


      .wrapper-slider {display: none;}

      ////////////////////////////////


      .audio-box{display:flex; flex-direction: column; justify-content: stretch; margin:10px;
        video{width:600px; height:500px; margin:auto;}
        audio{width:600px; height:50px; margin:auto;}
        .shape-inner{margin-left: auto; margin-right: auto;}
        .shape-outer{margin-left: auto; margin-right: auto;}
        .audio-text{font-size: 1em; text-align: center;}

      }
      form {
        .in {
          width: 60vw;
          &:focus {
            width: 65vw;
          }
        }
      }

      .field-input.log{display:flex; flex-direction: column; height:100px;  justify-content: space-between;}
      .field-input.join{display:flex; flex-direction: column; height:150px;  justify-content: space-between;}

      .field-label.log{display:flex; flex-direction: column;  height: 100px; justify-content: space-between;}
      .field-label.join{display:flex; flex-direction: column; height: 150px; justify-content: space-between;}

      .form-button-group{justify-content: space-around;}

      .form {width:45%; margin:10px;}
      .CreateAcc{width:95%; }

      .button-sort{width:200px; height:30px;}
////...............Header...................////

      header{
        height: 0em;

        .header{
          height:15em;
        }
        .menu-header-label{
          display: inline-block;
          top:0;
        }


        .menu-expand-check{
          display:none;
          &:checked{
            &  ~ .header{
              transform: translate3d(0,0,0);

            }

            & ~ .menu-header-label{
              transform: translate3d(0,15em,0);
            }
          }
        }



        .header{
          transform:translate3d(0,-15em,0);

          .menu-header {
            height:85%;

            ul{
              // margin:2%;
              text-align-last: center ;
              li
              {
                display:block ; text-align: left ;
                position:relative ; height:2em ;
                &:hover{
                  text-decoration: line-through;
                  ul{
                    display:none;
                    li{
                      display:block ; background-color: white ; width:10em ;
                      &:hover{text-decoration: line-through;}
                    }
                  }

                }


                &:last-of-type{

                  margin: 0;
                  &:hover {
                    ul {
                      display: none;
                    }
                  }

                }

                &:first-of-type{
                  margin: 0;
                  &:hover {
                    ul {
                      display: none;
                    }
                  }
                }

                ul{
                  display:none;
                }
              }
            }

          }
          .sub-menu-header{
            height: 15%;
            position: relative;

            .sub-menu-flex {

              width:80%;

              .localization-group {
                margin-top: auto;
                margin-bottom: auto;
              }


              .black-white-switch {
                width: 40px;
              }

              .black-white-switch-checkbox {
                display: none;
              }

              .black-white-switch-label {
                border:none;
              }

              .black-white-switch-inner {
                display: none;
              }


              .black-white-switch-inner:before {
                content: "" ;padding-left: 0 ;
              }

              .black-white-switch-inner:after {
                content: "" ;padding-right: 0 ;
              }

              .black-white-switch-switch {
                width:32px ;right: 5px ;
              }

            }
            .menu-expand{
              label{
                cursor:pointer;border-radius:5px;display:inline-block;width:10px;height:10px;background:white;transition:all .3s;
                &:hover{background:#ccc;border-color:#777}

                input{
                  display:none;
                }
              }


            }

          }

        }

      }


      .gridywrap{
        margin-bottom: 2em;

      }

    }
  }


}

@media (max-width:620px) {


  html {
    body {

      .audio-box {
        video {
          width: 400px;
          height: 400px;
        }
        audio {
          width: 350px;
          height: 50px;
        }
      }

      .slider-news {
        height: 400px;
        .mask-slider {
          height: 400px;
          ul {
            li {
              height: 400px;
              img{height:400px;}
            }
          }
        }
      }

      .article-pict{display: none;}


    }
  }

}

@media (max-width:500px){

  html{
    body{


      .audio-box{
        video{width:300px; height:300px;}
        audio{width:300px; height:50px;}
        .audio-text{font-size: 0.9em;}

      }

      .flip
      {
        & > .front{
          p {font-size: 0.8125rem;}
        }

      }

      .flip-text { font-size: 2em; }

      ////////////Text Styles

      .form-button-group{flex-direction: column;}
      .form {width:100%; margin: 10px 0;}


      .search-field{
        width:85vw;
        margin: auto;
        &:focus {
          width: 90vw;
          & ~ button{
            width: 90vw;
          }
        }
      }

      .field-input-sort-searc{flex-basis: 70vw;}
      .button-sort{width:85vw; height:30px; margin:auto; margin-top:10px;padding: 0;}

    }


  }

}

@media(max-width: 350px){

  html{
    body{

  .image-card
  {

    .img{
      display:none;
      .card-picture
      {
        &:hover{}
      }
      .text-image{}
    }


    .text-field{
      font-size: 1.2em;
    }
    .button-card {margin-bottom:32px}

  }



      form {
        .in {
          width: 50vw;
          &:focus {
            width: 55vw;
          }
        }
      }


      .flip-text {font-size: 2em;}
      .flip-wrap{width:98%;
        margin-left: auto;
        margin-right:auto;}


      .flip
      {


        & > .back {
          font-size: 0.6em;
          p {font-size: 1.5em;}
        }

      }

    }
  }

}


@media (max-width: 333px){
html {
  body {

    header {

      .button-sort{width:200px; height:30px;}

      .header {

        .sub-menu-header {

          .sub-menu-flex {
            .localization-group {
              input{
                position: relative;top:0.2em;
              }
            }

          }


        }


      }

    }


  }
}
}




@media screen and (min-width: 640px){

  html{
    body{
      /*Mason Style*/
      .gridywrap {
        width: 100%;
        .gridy-1, .gridy-2{width: 50%;}
        .gridy-3 {width: 100%;}
        .gridyhe-2 {height: 320px;}

      }

    }
  }

}


@media screen and (min-width: 1024px) {

  html{
    body{
      /*Mason Style*/
      .gridywrap {
        .gridy-1 {width: 33.3%;}
        .gridy-2 {width: 66.6%; }
        .gridy-3 {width: 100%;}
        .gridyhe-2 {height: 640px;}

      }

    }
  }

}





@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  table, thead, tbody, th, td, tr {display: block !important;}
  thead tr {position: absolute !important;top: -9999px !important;left: -9999px !important;}
  tr { border: 1px solid #ccc !important; }
  td {border: none !important;border-bottom: 1px solid #eee !important;position: relative !important;padding-left: 50% !important;}
  td:before {position: absolute !important;
    top: 6px !important;
    left: 6px !important;
    width: 45% !important;
    padding-right: 10px !important;
    white-space: nowrap !important;
  }
}


