.grid-1 {
  width: 8.33%;
}

.grid-2 {
  width: 17%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33%;
}

.grid-5 {
  width: 41.65%;
}

.grid-6 {
  width: 48%;
}

.grid-7 {
  width: 58.31%;
}

.grid-8 {
  width: 66.64%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.3%;
}

.grid-11 {
  width: 91.63%;
}

.grid-12 {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "h h h h h h h h h h h h" "c c c c c c c c c c c c" "f f f f f f f f f f f f";
  grid-template-rows: 5em auto 10em;
  grid-template-columns: repeat(12, 8.33%);
}

header {
  grid-area: h;
}

main {
  grid-area: c;
}

footer {
  grid-area: f;
}

aside {
  grid-area: a;
}

section {
  grid-area: sec;
}

.img {
  grid-area: m;
}

.text-field {
  grid-area: t;
}

.grid-container-picture-r {
  display: grid;
  grid-template-areas: "m t";
}

.grid-container-picture-l {
  display: grid;
  grid-template-areas: "t m";
}

.content-main-grid {
  display: grid;
  grid-template-areas: "sec sec sec sec sec sec sec sec sec a a a";
  grid-template-columns: repeat(12, 8.33%);
  margin: 10px;
}

@media (max-width: 1440px) {
  html body .flip {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  html body {
    /*Main Slyder*/
  }
  html body .articel .date {
    right: 0;
  }
  html body .grid-container-picture-r {
    display: grid !important;
    grid-template-areas: "t" "m" !important;
  }
  html body .grid-container-picture-l {
    display: grid !important;
    grid-template-areas: "t" "m" !important;
  }
  html body .image-card {
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  html body .image-card .img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  html body .image-card .img .card-picture {
    height: 400px;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  html body .image-card:hover .text-image {
    font-size: 1em;
  }
  html body .image-card:hover .text-field {
    color: white;
    transition-delay: 0.2s;
    transition-duration: 1s;
  }
  html body .image-card:hover .button-card {
    transition-delay: 0.2s;
    background-color: white;
    transition-duration: 2s;
  }
  html body .image-card .text-field {
    width: 100% !important;
    margin: 0 !important;
  }
  html body .image-card .text-field h3 {
    text-align: center;
  }
  html body .image-card .text-field h3:before {
    content: "|";
  }
  html body .image-card .text-field h3:after {
    content: "|";
  }
  html body .image-card .text-field h3 span:before {
    content: "-|";
  }
  html body .image-card .text-field h3 span:after {
    content: "|-";
  }
  html body .image-card .button-card {
    margin-bottom: 32px;
  }
  html body .wrapper-slider {
    max-width: 90%;
  }
  html body .content-main-grid {
    display: grid;
    grid-template-areas: "sec sec sec sec sec sec sec sec a a a a";
  }
  html body .slider-news {
    height: 800px;
    width: 95%;
    border: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 10px;
  }
  html body .slider-news:hover li {
    animation-play-state: paused;
  }
  html body .slider-news:hover .progress-bar {
    animation-play-state: paused;
  }
  html body .slider-news .mask-slider {
    height: 800px;
  }
  html body .slider-news .mask-slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  html body .slider-news .mask-slider ul li {
    height: 800px;
  }
  html body .slider-news .mask-slider ul li img {
    height: 800px;
  }
}
@media (max-width: 1150px) {
  html body .articel .date {
    top: -2em;
    font-size: 0.8em;
  }
}
@media (max-width: 820px) {
  html body .articel .date {
    right: 10px;
    top: 4em;
    font-size: 1em;
  }
  html body .content-main-grid {
    display: grid;
    grid-template-areas: "a a a a a a a a a a a a" "sec sec sec sec sec sec sec sec sec sec sec sec";
  }
  html body .slider-news {
    height: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  html body .slider-news:hover li {
    animation-play-state: paused;
  }
  html body .slider-news:hover .progress-bar {
    animation-play-state: paused;
  }
  html body .slider-news .mask-slider {
    height: 600px;
  }
  html body .slider-news .mask-slider ul li {
    height: 600px;
  }
  html body .slider-news .mask-slider ul li img {
    height: 600px;
  }
}
@media (max-width: 750px) {
  .grid-container {
    grid-template-rows: 0 auto 10em;
  }

  html body .articel .date {
    right: 5px;
    top: -2em;
    font-size: 0.8em;
  }
  html body h1 {
    font-size: 2em;
  }
  html body main {
    top: 1em;
  }
  html body .grid-container-picture-r {
    display: grid;
    grid-template-areas: "t" "m";
  }
  html body .grid-container-picture-l {
    display: grid;
    grid-template-areas: "t" "m";
  }
  html body .image-card .img {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  html body .image-card .img .card-picture {
    height: 400px;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  html body .image-card:hover .text-image {
    font-size: 16px;
  }
  html body .image-card:hover .text-field {
    color: white;
    transition-delay: 0.2s;
    transition-duration: 1s;
  }
  html body .image-card:hover .button-card {
    transition-delay: 0.2s;
    background-color: white;
    transition-duration: 2s;
  }
  html body .image-card .text-field {
    width: 100% !important;
    margin: 0 !important;
  }
  html body .image-card .text-field h3 {
    text-align: center;
  }
  html body .image-card .text-field h3:before {
    content: "|";
  }
  html body .image-card .text-field h3:after {
    content: "|";
  }
  html body .image-card .text-field h3 span:before {
    content: "-|";
  }
  html body .image-card .text-field h3 span:after {
    content: "|-";
  }
  html body .image-card .button-card {
    margin-bottom: 32px;
  }
  html body .wrapper-slider {
    display: none;
  }
  html body .audio-box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 10px;
  }
  html body .audio-box video {
    width: 600px;
    height: 500px;
    margin: auto;
  }
  html body .audio-box audio {
    width: 600px;
    height: 50px;
    margin: auto;
  }
  html body .audio-box .shape-inner {
    margin-left: auto;
    margin-right: auto;
  }
  html body .audio-box .shape-outer {
    margin-left: auto;
    margin-right: auto;
  }
  html body .audio-box .audio-text {
    font-size: 1em;
    text-align: center;
  }
  html body form .in {
    width: 60vw;
  }
  html body form .in:focus {
    width: 65vw;
  }
  html body .field-input.log {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
  }
  html body .field-input.join {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  html body .field-label.log {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
  }
  html body .field-label.join {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  html body .form-button-group {
    justify-content: space-around;
  }
  html body .form {
    width: 45%;
    margin: 10px;
  }
  html body .CreateAcc {
    width: 95%;
  }
  html body .button-sort {
    width: 200px;
    height: 30px;
  }
  html body header {
    height: 0em;
  }
  html body header .header {
    height: 15em;
  }
  html body header .menu-header-label {
    display: inline-block;
    top: 0;
  }
  html body header .menu-expand-check {
    display: none;
  }
  html body header .menu-expand-check:checked ~ .header {
    transform: translate3d(0, 0, 0);
  }
  html body header .menu-expand-check:checked ~ .menu-header-label {
    transform: translate3d(0, 15em, 0);
  }
  html body header .header {
    transform: translate3d(0, -15em, 0);
  }
  html body header .header .menu-header {
    height: 85%;
  }
  html body header .header .menu-header ul {
    text-align-last: center;
  }
  html body header .header .menu-header ul li {
    display: block;
    text-align: left;
    position: relative;
    height: 2em;
  }
  html body header .header .menu-header ul li:hover {
    text-decoration: line-through;
  }
  html body header .header .menu-header ul li:hover ul {
    display: none;
  }
  html body header .header .menu-header ul li:hover ul li {
    display: block;
    background-color: white;
    width: 10em;
  }
  html body header .header .menu-header ul li:hover ul li:hover {
    text-decoration: line-through;
  }
  html body header .header .menu-header ul li:last-of-type {
    margin: 0;
  }
  html body header .header .menu-header ul li:last-of-type:hover ul {
    display: none;
  }
  html body header .header .menu-header ul li:first-of-type {
    margin: 0;
  }
  html body header .header .menu-header ul li:first-of-type:hover ul {
    display: none;
  }
  html body header .header .menu-header ul li ul {
    display: none;
  }
  html body header .header .sub-menu-header {
    height: 15%;
    position: relative;
  }
  html body header .header .sub-menu-header .sub-menu-flex {
    width: 80%;
  }
  html body header .header .sub-menu-header .sub-menu-flex .localization-group {
    margin-top: auto;
    margin-bottom: auto;
  }
  html body header .header .sub-menu-header .sub-menu-flex .black-white-switch {
    width: 40px;
  }
  html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-checkbox {
    display: none;
  }
  html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-label {
    border: none;
  }
  html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner {
    display: none;
  }
  html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner:before {
    content: "";
    padding-left: 0;
  }
  html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner:after {
    content: "";
    padding-right: 0;
  }
  html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-switch {
    width: 32px;
    right: 5px;
  }
  html body header .header .sub-menu-header .menu-expand label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    transition: all 0.3s;
  }
  html body header .header .sub-menu-header .menu-expand label:hover {
    background: #ccc;
    border-color: #777;
  }
  html body header .header .sub-menu-header .menu-expand label input {
    display: none;
  }
  html body .gridywrap {
    margin-bottom: 2em;
  }
}
@media (max-width: 620px) {
  html body .audio-box video {
    width: 400px;
    height: 400px;
  }
  html body .audio-box audio {
    width: 350px;
    height: 50px;
  }
  html body .slider-news {
    height: 400px;
  }
  html body .slider-news .mask-slider {
    height: 400px;
  }
  html body .slider-news .mask-slider ul li {
    height: 400px;
  }
  html body .slider-news .mask-slider ul li img {
    height: 400px;
  }
  html body .article-pict {
    display: none;
  }
}
@media (max-width: 500px) {
  html body .audio-box video {
    width: 300px;
    height: 300px;
  }
  html body .audio-box audio {
    width: 300px;
    height: 50px;
  }
  html body .audio-box .audio-text {
    font-size: 0.9em;
  }
  html body .flip > .front p {
    font-size: 0.8125rem;
  }
  html body .flip-text {
    font-size: 2em;
  }
  html body .form-button-group {
    flex-direction: column;
  }
  html body .form {
    width: 100%;
    margin: 10px 0;
  }
  html body .search-field {
    width: 85vw;
    margin: auto;
  }
  html body .search-field:focus {
    width: 90vw;
  }
  html body .search-field:focus ~ button {
    width: 90vw;
  }
  html body .field-input-sort-searc {
    flex-basis: 70vw;
  }
  html body .button-sort {
    width: 85vw;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    padding: 0;
  }
}
@media (max-width: 350px) {
  html body .image-card .img {
    display: none;
  }
  html body .image-card .text-field {
    font-size: 1.2em;
  }
  html body .image-card .button-card {
    margin-bottom: 32px;
  }
  html body form .in {
    width: 50vw;
  }
  html body form .in:focus {
    width: 55vw;
  }
  html body .flip-text {
    font-size: 2em;
  }
  html body .flip-wrap {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  html body .flip > .back {
    font-size: 0.6em;
  }
  html body .flip > .back p {
    font-size: 1.5em;
  }
}
@media (max-width: 333px) {
  html body header .button-sort {
    width: 200px;
    height: 30px;
  }
  html body header .header .sub-menu-header .sub-menu-flex .localization-group input {
    position: relative;
    top: 0.2em;
  }
}
@media screen and (min-width: 640px) {
  html body {
    /*Mason Style*/
  }
  html body .gridywrap {
    width: 100%;
  }
  html body .gridywrap .gridy-1, html body .gridywrap .gridy-2 {
    width: 50%;
  }
  html body .gridywrap .gridy-3 {
    width: 100%;
  }
  html body .gridywrap .gridyhe-2 {
    height: 320px;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    /*Mason Style*/
  }
  html body .gridywrap .gridy-1 {
    width: 33.3%;
  }
  html body .gridywrap .gridy-2 {
    width: 66.6%;
  }
  html body .gridywrap .gridy-3 {
    width: 100%;
  }
  html body .gridywrap .gridyhe-2 {
    height: 640px;
  }
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block !important;
  }

  thead tr {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  tr {
    border: 1px solid #ccc !important;
  }

  td {
    border: none !important;
    border-bottom: 1px solid #eee !important;
    position: relative !important;
    padding-left: 50% !important;
  }

  td:before {
    position: absolute !important;
    top: 6px !important;
    left: 6px !important;
    width: 45% !important;
    padding-right: 10px !important;
    white-space: nowrap !important;
  }
}

/*# sourceMappingURL=Grid-wrap.css.map */
