*{padding:0;margin:0;}
body{font-family: "Cutive Mono", monospace;font-size:1em;color:black;background: #222;overflow-x:hidden;}
html body * {box-sizing: border-box;}
html{min-height: 100%; position: relative;}

h1 { color: #c9d0d4; font-size: 46px; font-weight: 300; line-height: 50px;letter-spacing: 1px; padding: 0 0 40px; border-bottom: double #555; }
h4{color:dimgrey;}
p { color: #bbc3c8; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }


/*Table Style*/
table {width: 100%;border-collapse: collapse;}
tr:nth-of-type(odd) {background: #eee;}
th {background: #333;color: white;font-weight: bold;}
td, th {padding: 6px;border: 1px solid #ccc;text-align: left;}
/*----------*/

/*Form Style*/
form input::placeholder{color:lightgray;}
form input{
    margin-left: 10px;  border-color:transparent transparent black transparent;
    transition:2s; height:30px; color:white; width:200px;
    font-size:11px;
    outline: 0;
    border-bottom:1px solid white;
    background:transparent;
}
form input:focus{border-bottom:1px solid #b19a9a; transition-delay: 0.2s;
    border-right:1px solid #b19a9a; width:250px;
    transition-duration: 2s;}
form label { padding-right:10px; font-size:12px; margin-top:10px;color:dimgray;}
form{border:none; margin: 20px; display:flex; flex-direction: row;}
/*------------*/

main{position:relative;display:flex; top:100px; padding-bottom: 150px; justify-content: space-between; flex-direction: column;}

/*Header Style*/
header {width:100%; position:fixed; z-index: 9999; height: 80px; background-color: rgba(105,105,105,0.95);}
header ul,footer ul{margin:2%;  text-align-last: justify;}
header ul li,footer ul li{display: inline-block;}
header ul li ul{display:none;}
header ul+li:after, header ul+li:before{content:"|";}
header ul li:hover,footer ul li:hover{text-decoration: line-through;}
header li{position:relative; height:2em;}
header ul li:last-of-type:hover ul
{ text-align: left; text-align-last:left; position:absolute;top:2em;right:0; display: block;}
header ul li:first-of-type:hover ul
{ text-align: left; text-align-last:left; position:absolute;top:2em;left:2em; display: block;}
header ul li:hover ul
{text-align: center; text-align-last: center;position: absolute;top:2em;display:block;}
header ul li:hover ul li{display:block; background-color: white; width:10em;}

header ul li:hover ul li:hover{text-decoration: line-through;}


.menu-header{height:60%;}
.sub-menu-header{ height: 40%; background-color: rgba(169,169,169,0.95);display: flex; justify-content: space-between; padding-left: 20px;z-index:-10; padding-right: 20px;}
.sub-menu-header div{ display: flex; justify-content: space-between;}
.localization-group{margin-top:auto;margin-bottom:auto;}
.button-group{width:75px; transition: 2s; display: flex; justify-content: space-between;}
.button-group button:hover{transition-delay: 0.2s; transition-duration: 2s; color:white; background: black; outline: white;}

/* Black-White-Switch*/
.black-white-switch {position:relative; width: 90px;margin-left:10px; z-index:9998;}
.black-white-switch-checkbox {display: none;}

.black-white-switch-label {display: block; overflow: hidden; cursor:pointer; border: 2px solid #999999;}
.black-white-switch-inner {display: block; width: 200%; margin-left: -100%;transition: margin 0.3s ease-in 0s;}
.black-white-switch-inner:before, .black-white-switch-inner:after {
    display: block; float: left; width: 50%; height: 30px;line-height: 30px;font-size: 14px; color: white; font-weight: bold;box-sizing: border-box;}
.black-white-switch-inner:before {content: "Black";padding-left: 10px;background-color: white; color: black;}
.black-white-switch-inner:after {content: "White";padding-right: 10px;background-color: white; color: black;text-align: right;}

.black-white-switch-switch {
    display: block; width: 18px; margin: 6px;
    background: white;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 1px solid #999999;
    transition: all 0.3s ease-in 0s;
}
.black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-inner {margin-left: 0;}
.black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-switch {right: 0px;background-color: #000203;}
/*---------------------*/


/* Footer Style*/
footer{background-color: darkgray;width:100%;height:100px; position:relative;top:110%;}
footer address {position: absolute;right:20px;bottom:5px;}

.pos-abs-bottom{position:absolute; bottom:0;}



/*Section Style*/
section{margin:10px;}
.section-content{width:90%;height:90%; position:relative;}
.section-content img{width:100%;height:100%; position: absolute;}
/*-----------*/



.image-card{display:flex;justify-content: stretch; flex-direction: row; width:100%;  flex-wrap: wrap;}
.card-picture {height:400px;width:600px; margin:0px 10px; filter: grayscale(90%);transition:2s;}
.card-picture:hover{transition-duration: 2s; transition-delay: 0.2s;}
.image-card:hover .text-image{font-size:20px;}
.text-image{transition:1s;font-size: 0;color:darkgray; position:absolute; left:20px; bottom:25px;background-color: rgba(50,50,50,0.9);}
.img{position:relative;}

.text-field{width:750px;transition:2s; margin-left:10px; position: relative;}
.image-card:hover .text-field{color:white;transition-delay: 0.2s; transition-duration: 1s;}
.image-card:hover .button-card{transition-delay: 0.2s; background-color: white;transition-duration: 2s;}
.text-field h3{text-align: center;}
.text-field h3:before{content:"|";}
.text-field h3:after{content: "|";}
.text-field span:after{content: "|-";}
.text-field span:before{content:"-|";}

.button-card {position:relative;top:10px;width:100%;transition: 2s;margin:0 auto;background-color: darkgray; height: 50px;}
.link{text-decoration: none; font-family: inherit; text-align: center; color:black;}



/*Slider Style*/

@keyframes SliderAnima {
    0%{margin-left:0;}
    25%{margin-left:-100%;}
    50%{margin-left:-200%;}
    75%{margin-left:-300%;}
    100%{margin-left:-400%;}
}




/*
.wrapper-slider-news{margin:10px;width:300px;height:700px;overflow:hidden;position:relative;border:1px solid lightgray;}
.wrapper-slider-news .inner{width:300px;height:800px;}
.wrapper-slider-news img{height:300px; position:absolute;animation:SliderAnima 5s infinite;opacity:0;width:800px;}


.wrapper-slider-news img:nth-child(1){animation-delay:4s; z-index:500;}
.wrapper-slider-news img:nth-child(2){animation-delay:3s;z-index:499;}
.wrapper-slider-news img:nth-child(3){animation-delay:2s;z-index:448;}
.wrapper-slider-news img:nth-child(4){animation-delay:1s;z-index:447;}
.wrapper-slider-news img:nth-child(5){animation-delay:0s;z-index:446;}
*/




.wrapper-slider-news {max-width:300px;margin:10px;position:relative;border:1px solid lightgray;}
.wrapper-slider-news .inner{width:500%;line-height:0}
.wrapper-slider-news article{width:20%;float:left;position:relative;animation:SliderAnima 15s infinite; animation-direction: alternate-reverse;}

.wrapper-slider-news article:nth-child(1){animation-delay: 3s;}
.wrapper-slider-news article:nth-child(2){animation-delay: 6s;}
.wrapper-slider-news article:nth-child(3){animation-delay: 9s;}
.wrapper-slider-news article:nth-child(4){animation-delay: 12s;}
.wrapper-slider-news article:nth-child(5){animation-delay: 15s;}

.wrapper-slider-news article img{width:100%; height:700px; filter:grayscale(90%);}
.wrapper-slider-news .slider-wrapper
{width:100%;overflow:hidden; box-shadow:1px 1px 4px #666;}



/*Main Slyder*/


.wrapper-slider {max-width:75%;margin:1em auto;position:relative;}
.wrapper-slider input{display:none}
.wrapper-slider .inner{width:500%;line-height:0}
.wrapper-slider article{width:20%;float:left;position:relative}
.wrapper-slider article img{width:100%; height:600px; filter:grayscale(90%);}

.wrapper-slider .slider-prev-next-control
{height:50px;position:absolute;top:50%;width:100%;transform:translateY(-50%)}
.wrapper-slider .slider-prev-next-control label{display:none;width:40px;height:40px;background:#fff;opacity:.7}
.wrapper-slider .slider-prev-next-control label:hover{opacity:1}

.wrapper-slider .slider-dot-control{position:absolute;width:100%;bottom:0;text-align:center}
.wrapper-slider .slider-dot-control label
{cursor:pointer;border-radius:5px;display:inline-block;width:10px;height:10px;background:#bbb;transition:all .3s}
.wrapper-slider .slider-dot-control label:hover{background:#ccc;border-color:#777}

.wrapper-slider .info
{position:absolute;font-style:italic;line-height:20px;opacity:0;color:#000;
    text-align:left;transition:all 1s ease-out .6s; ;z-index: 200;}
.wrapper-slider .info h3{color:black;margin:0 0 5px;font-weight:400;font-size:1.5em;font-style:normal;text-shadow: white 3px 3px 3px;}
.wrapper-slider .info.top-left{top:30px;left:30px}
.wrapper-slider .info.top-right{top:30px;right:30px}
.wrapper-slider .info.bottom-left{bottom:30px;left:30px}
.wrapper-slider .info.bottom-right{bottom:30px;right:30px}

.wrapper-slider .slider-wrapper
{width:100%;overflow:hidden;border-radius:5px;box-shadow:1px 1px 4px #666;transform:translateZ(0);transition:all .5s ease-out}
.wrapper-slider .slider-wrapper .inner
{transform:translateZ(0);transition: ease-in-out.8s}



.wrapper-slider #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
.wrapper-slider #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
.wrapper-slider #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
.wrapper-slider #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
.wrapper-slider #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
.wrapper-slider #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
.wrapper-slider #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
.wrapper-slider #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
.wrapper-slider #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
.wrapper-slider #slide5:checked~.slider-prev-next-control label:nth-child(4)::after
{cursor:pointer; line-height:38px;font-size:3em;display:block;color:black;}
.wrapper-slider #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
.wrapper-slider #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
.wrapper-slider #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
.wrapper-slider #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
.wrapper-slider #slide5:checked~.slider-prev-next-control label:nth-child(1)::after
{content:"-"; padding-left:15px;}
.wrapper-slider #slide1:checked~.slider-prev-next-control label:nth-child(2),
.wrapper-slider #slide2:checked~.slider-prev-next-control label:nth-child(3),
.wrapper-slider #slide3:checked~.slider-prev-next-control label:nth-child(4),
.wrapper-slider #slide4:checked~.slider-prev-next-control label:nth-child(5),
.wrapper-slider #slide5:checked~.slider-prev-next-control label:nth-child(1)
{display:block;float:right;margin-right:5px}
.wrapper-slider #slide1:checked~.slider-prev-next-control label:nth-child(5),
.wrapper-slider #slide2:checked~.slider-prev-next-control label:nth-child(1),
.wrapper-slider #slide3:checked~.slider-prev-next-control label:nth-child(2),
.wrapper-slider #slide4:checked~.slider-prev-next-control label:nth-child(3),
.wrapper-slider #slide5:checked~.slider-prev-next-control label:nth-child(4)
{display:block;float:left;margin-left:5px}
.wrapper-slider #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
.wrapper-slider #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
.wrapper-slider #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
.wrapper-slider #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
.wrapper-slider #slide5:checked~.slider-prev-next-control label:nth-child(4)::after
{content:"-";padding-left:2px}
.wrapper-slider #slide1:checked~.slider-dot-control label:nth-child(1),
.wrapper-slider #slide2:checked~.slider-dot-control label:nth-child(2),
.wrapper-slider #slide3:checked~.slider-dot-control label:nth-child(3),
.wrapper-slider #slide4:checked~.slider-dot-control label:nth-child(4),
.wrapper-slider #slide5:checked~.slider-dot-control label:nth-child(5)
{background:black;}


.wrapper-slider #slide1:checked~.slider-wrapper article:nth-child(1) .info,
.wrapper-slider #slide2:checked~.slider-wrapper article:nth-child(2) .info,
.wrapper-slider #slide3:checked~.slider-wrapper article:nth-child(3) .info,
.wrapper-slider #slide4:checked~.slider-wrapper article:nth-child(4) .info,
.wrapper-slider #slide5:checked~.slider-wrapper article:nth-child(5) .info
{opacity:1}
.wrapper-slider #slide1:checked~.slider-wrapper .inner{margin-left:0}
.wrapper-slider #slide2:checked~.slider-wrapper .inner{margin-left:-100%}
.wrapper-slider #slide3:checked~.slider-wrapper .inner{margin-left:-200%}
.wrapper-slider #slide4:checked~.slider-wrapper .inner{margin-left:-300%}
.wrapper-slider #slide5:checked~.slider-wrapper .inner {margin-left:-400%}




/*Mason Style*/
.gridywrap .gridimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}
.gridywrap .gridimg img {width: 100%;}
.gridywrap .gridinfo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    text-align: center;
    transition: all 0.8s;
}
.gridywrap .gridinfo h3 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 130px 0 20px;
    position: relative;
}
.gridywrap .gridinfo h3:after {
    content: '';
    width: 25px;
    border-top: 4px solid #fff;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}
.gridywrap .gridinfo .gridmeta {transition-delay: 0.25s;}
.gridywrap .gridinfo .gridmeta p {display: inline-block;font-size: 13px;color: #fff;margin-bottom: 15px;}
.gridywrap .gridinfo .gridmeta p i {margin-right: 5px;}
.gridywrap .gridinfo .gridmeta p.gridwho {margin-left: 25px;}
.gridywrap .gridinfo p.gridexerpt {width: 60%;margin: 0 auto;line-height: 22px;margin-bottom: 25px;color: #fff;transition-delay: 0.5s;}

.gridywrap .gridinfo * {opacity: 0;transition: all 0.8s;}
.gridywrap .gridinfo h3 {opacity: 1;}
.gridywrap .gridinfo .grid-btn {
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    display: block;
    overflow: hidden;
}
.gridywrap .gridinfo .grid-btn:hover {width: 75px;background: rgba(0,0,0,0.3);}
.gridywrap .gridinfo .grid-btn span {opacity: 0;display: none;transition: opacity 0.8s;}
.gridywrap .gridinfo .grid-btn:hover span {opacity: 1;display: inline;}
.gridywrap .gridinfo .grid-btn:hover i {opacity: 0;display: none;}


.gridywrap .gridinfo:hover * {opacity: 0.7;}
.gridywrap .gridinfo:hover p {opacity: 1;}
.gridywrap .gridinfo:hover {background: rgba(169,169,169, 0.7);}
.gridywrap .gridinfo:hover h3 {margin-top: 70px;opacity: 1;}


.intro {text-align: center;padding: 25px; color:lightgray;}
.intro p a {color: white; padding-left:5px;}

/*------------------*/




.flip {position: relative;}
.flip > .front,
.flip > .back {display: block;transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);transition-duration: 0.5s;transition-property: transform, opacity;}
.flip > .front {transform: rotateY(0deg);}
.flip > .back {position: absolute;opacity: 0;top: 0px;left: 0px;width: 100%;height: 100%;transform: rotateY(-180deg);}
.flip:hover > .front {transform: rotateY(180deg);}
.flip:hover > .back {opacity: 1;transform: rotateY(0deg);}
.flip.flip-vertical > .back {transform: rotateX(-180deg);}
.flip.flip-vertical:hover > .front {transform: rotateX(180deg);}
.flip.flip-vertical:hover > .back {transform: rotateX(0deg);}

.flip {position: relative;display: inline-block;margin-right: 2px;margin-bottom: 1em;width: 400px;}
.flip > .front,
.flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    background: #313131;
    border-radius:2px;
}
.flip > .front p,
.flip > .back p {font-size: 0.9125rem;line-height: 160%;color: #999;}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04),
    4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem
    rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04),
    14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px
    rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}


.flip-text { color: #c9d0d4; font-size: 46px; font-weight: 100; line-height: 50px;letter-spacing: 1px; padding: 0 0 40px; border: none !important; }
.flip-wrap{display:flex; flex-wrap: wrap; justify-content: space-around;}

.articel .date { color: #bbc3c8; background: #292929; display: inline-block;
    font-style: italic; font-size: 18px; line-height: 22px; margin: 0 0 20px 18px; padding: 10px 12px 8px; position: absolute; bottom: -56px; }
.articel{color:darkgray;margin:10px;}



.container-404 {
    background: #323232;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.wrapper-404 {text-align: center;}
.sub {color: darkgray;letter-spacing: 1em;}
.text-404 {position: relative;color: white;font-size: 4em;letter-spacing: 0.5em;}
.picture-gray{filter:grayscale(20%);}


.SortGroup{display:flex; flex-wrap: wrap; width:100%; flex-direction: column; color:white;}
.gray-picture-main{filter: grayscale(90%);}


.shape-outer {
    transition: 2s;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    width: 64px;
    margin-left: 25px;

    margin-top: auto;
    margin-bottom: auto;

    background-image: linear-gradient(to bottom right, rgb(50,50,50), rgb(169,169,169), rgb(220,220,220));
}
.shape-inner {
    transition: 2s;
    height: 64px;
    width: 64px;
    background: url(pictures/avatar.jpg) no-repeat center;
    background-size: cover;
    margin: auto;
}
.bevel {clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);}
.shape-outer:hover{transition-duration: 2s; transition-delay: 0.2s;  height:128px;width:128px;}
.shape-outer:hover .shape-inner{transition-duration: 2s; transition-delay: 0.2s;height:128px;width:128px;}


.audio-box{display:flex; flex-direction: row; justify-content: stretch; margin:10px;}
.audio-text{margin-top:auto; margin-bottom: auto; color:white; margin-left:10px;}

.shape-outer:hover .shape-inner{transition-duration: 2s; transition-delay: 0.2s;height:128px;width:128px;}

.audio-box video{width:300px; height:300px;}




.field-input{display:flex; flex-direction: column;width:75px; height:100px;  justify-content: space-between;}
.field-label{display:flex; flex-direction: column; width:100px; height: 100px; justify-content: space-between;}

.form {width:150px; height:50px; color:black; padding:auto; box-shadow: black 2px 2px 2px; transition: 2s; margin-left:10px;}
.form:hover{
    transition-duration: 2s;
    transition-delay: 0.2s;
    background: black;
    color:white;}


