

*{padding:0;margin:0;}



html {


  body {

    position: relative;
    min-height:100vh;



    font-family:"Cutive Mono", monospace;;
    font-size:1em;
    min-width: 320px;


    color: black;
    background: #222;
    overflow-x: hidden;

    & *{box-sizing: border-box;}

    h1{color: #c9d0d4; font-size: 3em; font-weight: 300; line-height: 50px;letter-spacing: 1px; padding: 0 0 40px; border-bottom: double #555;}
    h4{color:dimgrey; margin-left: 10px;}
    p{color: #bbc3c8; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0;}

    //Table Style
    table {width: 100%;border-collapse: collapse;
      tr:nth-of-type(odd) {background: #eee;}
      th {background: #333;color: white;font-weight: bold; padding: 6px;border: 1px solid #ccc;text-align: left;}
      td {padding: 6px;border: 1px solid #ccc;text-align: left;}
    }


    //Form Style
    form {
      border:none; margin: 20px; display:flex; flex-direction: row;
      .in {
        margin-left: 10px;
        border-color: transparent transparent black transparent;
        transition: 2s;
        height: 40px;
        color: white;
        width: 200px;
        font-size: 11px;
        outline: 0;
        border-bottom: 1px solid white;
        background: transparent;

        &::placeholder {color: lightgray;}
        &:focus {
          border-bottom: 1px solid #b19a9a;
          transition-delay: 0.2s;
          border-right: 1px solid #b19a9a;
          width: 250px;
          transition-duration: 2s;
        }
      }
      .out {
        padding-right: 10px;
        font-size: 12px;
        margin-top: 10px;
        color: dimgray;
      }
    }


    .search-field{

      margin-left: 10px;
      border-color: transparent transparent black transparent;
      transition: 2s;
      height: 40px;
      color: white;
      width: 200px;
      font-size: 11px;
      outline: 0;
      border-bottom: 1px solid white;
      background: transparent;

      &::placeholder {color: lightgray;}
      &:focus {
        border-bottom: 1px solid lightgray;
        transition-delay: 0.2s;
        border-right: 1px solid lightgray;
        width: 250px;
        transition-duration: 2s;
      }
    }

    .color-sort{
      font-size: 12px;
      color: dimgray;}
    .flex-sorted-group{

      border-bottom: 1px gray solid;
      padding-bottom: 10px;
      flex-wrap: wrap;
     }

    .field-input.log, .field-input-sort {display:flex; flex-direction: column;flex-basis: 75px; height:100px; width:75px;  justify-content: space-between;}
    .field-label.log, .field-label-sort {display:flex; flex-direction: column; flex-basis:100px; height: 100px; width:100px;justify-content: space-between;}


    .field-input.join{display:flex; flex-direction: column;flex-basis:75px; height:150px; width:75px; justify-content: space-between;}
    .field-label.join{display:flex; flex-direction: column; flex-basis:100px; height: 150px; width:100px;justify-content: space-between;}

    .form {width:150px; height:50px; color:black; padding:auto; box-shadow: black 2px 2px 2px; transition: 2s; margin-left:10px;
    &:hover{ transition-duration: 2s;
      transition-delay: 0.2s;
      background: black;
      color:white;}
    }
    .button-sort{width:200px; height:30px;}
    .form-button-group{display: flex; flex-direction: row;}

    /*------------*/

    main{
      position:relative;
      display:flex;
      min-width:100%;
      justify-content: space-between;
      flex-direction: column;
    }

    /*Header Style*/



    header{

      display:flex;
      justify-content: center;
      height: 0em;
      width:100%;
      position:fixed;
      z-index:111111;

      .menu-header-label{
        transition: 0.75s ease-in-out;

        display:none;
        height:1em;
        width:4em;

        cursor:pointer;
        position:relative;
        top:0;
        border:2px solid white;
        background: dimgrey;
      }

      .menu-expand-check{
        display:none;

      }


      .header{
        top:0;
        width:100%;
        position: absolute;
        z-index: 9999;
        height: 100%;
        background-color: rgba(105,105,105,0.95);
        transition: 0.5s ease-in-out;
        height: 5em;
        .menu-header {

          height:60%;
          ul{
            // margin:2%;
            text-align-last: justify;
            li
            {
              margin:0.75em;
              display: inline-block;
              position:relative;
              height:2em;
              &:hover{
                text-decoration: line-through;
                ul{
                  text-align: center; text-align-last: center;
                  position: absolute;

                  top:2em;
                  display:block;
                  li{
                    margin:0;
                    display:block; background-color: white; width:10em;
                    &:hover{text-decoration: line-through;}
                  }
                }

              }


              &:last-of-type{

                margin-right: 1.5em;
                &:hover {
                  ul {
                    text-align: left;
                    text-align-last: left;
                    position: absolute;
                    top: 2em;
                    right: 0;
                    display: block;
                  }
                }

              }
              &:first-of-type{
                margin-left: 1.5em;
                &:hover {
                  ul {
                    text-align: left;
                    text-align-last: left;
                    position: absolute;
                    top: 2em;
                    left: 2em;
                    display: block;
                  }
                }
              }
              ul{
                display:none; z-index:10000;
              }
            }
          }

        }

        .sub-menu-header{

          height: 40%;
          background-color: rgba(169,169,169,0.95);
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
          z-index:-10;
          padding-right: 20px;

          div{ display: flex; justify-content: space-between;}

          .sub-menu-flex {
            .localization-group {
              margin-top: auto;
              margin-bottom: auto;
            }


            .black-white-switch {
              position: relative;
              width: 90px;
              margin-left: 10px;
              z-index: 9998;
            }

            .black-white-switch-checkbox {
              display: none;
            }

            .black-white-switch-label {
              display: block;
              overflow: hidden;
              cursor: pointer;
              border: 2px solid #999999;
            }

            .black-white-switch-inner {
              display: block;
              width: 200%;
              margin-left: -100%;
              transition: margin 0.3s ease-in 0s;
            }

            .black-white-switch-inner:before, .black-white-switch-inner:after {
              display: block;
              float: left;
              width: 50%;
              height: 30px;
              line-height: 30px;
              font-size: 14px;
              color: white;
              font-weight: bold;
              box-sizing: border-box;
            }

            .black-white-switch-inner:before {
              content: "Black";
              padding-left: 10px;
              background-color: white;
              color: black;
            }

            .black-white-switch-inner:after {
              content: "White";
              padding-right: 10px;
              background-color: white;
              color: black;
              text-align: right;
            }

            .black-white-switch-switch {
              display: block;
              width: 18px;
              margin: 6px;
              background: white;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 56px;
              border: 1px solid #999999;
              transition: all 0.3s ease-in 0s;
            }

            .black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-inner {
              margin-left: 0;
            }

            .black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-switch {
              right: 0px;
              background-color: #000203;
            }
          }

          .button-group{width:75px; transition: 2s; display: flex; justify-content: space-between;}
          .button-group button:hover{
            transition-delay: 0.2s; transition-duration: 2s;background: black; outline: white;
            a{transition-delay: 0.2s; transition-duration: 2s;color:white;}
          }

        }


      }


    }



    footer{

      margin:0;
      padding: 0;

      height:10em;

      ul{
        text-align-last: justify;
      li{
        position: relative;
        top:10px;
        padding:0 10px;
        display: inline-block;
      &:hover{text-decoration: line-through;}
      }

      }

      background-color: darkgray;width:100%;
      address{position: absolute;right:20px;bottom:5px;}


    }



    /*Section Style*/

    .image-card
    {display:flex;justify-content: stretch; flex-direction: row; width:100%;

      position: relative;

      .img{position:relative;
        width:40%;

        .card-picture
        {height:400px;width:100%; margin:10px; padding: 10px; filter: grayscale(90%);transition:2s;
        &:hover{transition-duration: 2s; transition-delay: 0.2s;}
        }
        .text-image{transition:1s;font-size: 0;color:darkgray; position:absolute; left:20px; bottom:25px;background-color: rgba(50,50,50,0.9);}


      }

      &:hover{
        .text-image{font-size:20px;}
        .text-field{color:white;transition-delay: 0.2s; transition-duration: 1s;}
        .button-card{transition-delay: 0.2s; background-color: white;transition-duration: 2s;}
      }

      .text-field{transition:2s; margin-left:10px; position: relative; width:60%;
        h3{
          text-align: center;
        &:before{content:"|";}
          &:after{content: "|";}

          span{
            &:before{content:"-|";}
            &:after{content:"|-";}
          }

        }
      }
      .button-card {position:relative;top:10px;width:100%;transition: 2s;margin:0 auto;background-color: darkgray; height: 50px;}


    }



    .link{text-decoration: none; font-family: inherit; text-align: center; color:black;}


          //News Slider

    /* Анимация */

    @keyframes cycle {
      0%  { right: 0; }
      4%  { right: 0;}
      16% { right: 0; opacity:1; z-index:0; }
      20% { right: 100%; opacity: 0; z-index: 0; }
      21% { right: -100%; opacity: 0; z-index: -2000; }
      92% { right: -100%; opacity: 0; z-index: 0; }
      96% { right: -100%; opacity: 0; }
      100%{ right: 100%; opacity: 1; }
    }
    @keyframes cycletwo {
      0%  { right: -100%; opacity: 0; }
      16% { right: -100%; opacity: 0; }
      20% { right: 0; opacity: 1; }
      24% { right: 0; opacity: 1; }
      36% { right: 0; opacity: 1; z-index: 0; }
      40% { right: 100%; opacity: 0; z-index: 0; }
      41% { right: -100%; opacity: 0; z-index: -2000; }
      100%{ right: -100%; opacity: 0; z-index: -2000; }
    }
    @keyframes cyclethree {
      0%  { right: -100%; opacity: 0; }
      36% { right: -100%; opacity: 0; }
      40% { right: 0; opacity: 1; }
      44% { right: 0; opacity: 1; }
      56% { right: 0; opacity: 1; }
      60% { right: 100%; opacity: 0; z-index: 0; }
      61% { right: -100%; opacity: 0; z-index: -2000; }
      100%{ right: -100%; opacity: 0; z-index: -2000; }
    }
    @keyframes cyclefour {
      0%  { right: -100%; opacity: 0; }
      56% { right: -100%; opacity: 0; }
      60% { right: 0; opacity: 1; }
      64% { right: 0; opacity: 1; }
      76% { right: 0; opacity: 1; z-index: 0; }
      80% { right: 100%; opacity: 0; z-index: 0; }
      81% { right: -100%; opacity: 0; z-index: -2000; }
      100%{ right: -100%; opacity: 0; z-index: -2000; }
    }
    @keyframes cyclefive {
      0%  { right: -100%; opacity: 0; }
      76% { right: -100%; opacity: 0; }
      80% { right: 0; opacity: 1; }
      84% { right: 0; opacity: 1; }
      96% { right: 0; opacity: 1; z-index: 0; }
      100%{ right: 100%; opacity: 0; z-index: 0; }
    }
    @keyframes fullexpand {

      0%, 20%, 40%, 60%, 80%, 100% { width: 0; opacity: 0; }

      4%, 24%, 44%, 64%, 84% { width: 0; opacity: 0.3; }

      16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

      17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

      18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
    }

    .slider-news {
      height: 600px;

      margin: 30px;
      border:1px solid lightgray;
      background: dimgray;
      overflow: visible;
      position: relative;

      &:hover{
        li{ animation-play-state: paused;}
        .progress-bar{ animation-play-state: paused;}
      }

      .progress-bar {
        position: relative;
        top: -5px;
        width: 100%;
        height: 5px;
        background: #000;
        animation: fullexpand 50s ease-out infinite;
      }
      .mask-slider {
        overflow: hidden;
        height: 100%;


        ul {
          margin: 0;
          padding: 0;
          position: relative;

          li {
            width: 100%;
            height: 600px;
            position: absolute;
            right: -100%;
            list-style: none;
            img{width:100%;height:100%; }
          }


          li:nth-of-type(1) {animation: cycle 50s linear infinite;}
          li:nth-of-type(2) {animation: cycletwo 50s linear infinite;}
          li:nth-of-type(3) {animation: cyclethree 50s linear infinite;}
          li:nth-of-type(4) {animation: cyclefour 50s linear infinite;}
          li:nth-of-type(5) {animation: cyclefive 50s linear infinite;}

        }


      }
    }

    ///////////////////////////////////////


    /*Main Slyder*/

    .wrapper-slider
    {max-width:75%;margin:1em auto;position:relative;
      input{display:none}
      .inner{width:500%;line-height:0}
      article{width:20%;float:left;position:relative;
      img{width:100%; height:600px; filter:grayscale(90%);}
      }


      .slider-prev-next-control
      {height:50px;position:absolute;top:50%;width:100%;transform:translateY(-50%);
      label{display:none;width:40px;height:40px;background:#fff;opacity:.7;
      &:hover{opacity:1}
      }
      }


      .slider-dot-control{position:absolute;width:100%;bottom:0;text-align:center;
      label
      {cursor:pointer;border-radius:5px;display:inline-block;width:10px;height:10px;background:#bbb;transition:all .3s;
      &:hover{background:#ccc;border-color:#777}
      }
      }

      .info
      {position:absolute;font-style:italic;line-height:20px;opacity:0;color:#000;
        text-align:left;transition:all 1s ease-out .6s; ;z-index: 200;
        h3{color:black;margin:0 0 5px;font-weight:400;font-size:1.5em;font-style:normal;text-shadow: white 3px 3px 3px;}

        &.top-left{top:30px;left:30px}
        &.top-right{top:30px;right:30px}
        &.bottom-left{bottom:30px;left:30px}
        &.bottom-right{bottom:30px;right:30px}

      }


      .slider-wrapper
      {width:100%;overflow:hidden;border-radius:5px;box-shadow:1px 1px 4px #666;transform:translateZ(0);transition:all .5s ease-out;
        .inner{transform:translateZ(0);transition: ease-in-out .8s;}
      }


       #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
       #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
       #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
       #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
       #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
       #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
       #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
       #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
       #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
       #slide5:checked~.slider-prev-next-control label:nth-child(4)::after
      {cursor:pointer; line-height:38px;font-size:3em;display:block;color:black;}


       #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
       #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
       #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
       #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
       #slide5:checked~.slider-prev-next-control label:nth-child(1)::after
      {content:"-"; padding-left:15px;}
       #slide1:checked~.slider-prev-next-control label:nth-child(2),
       #slide2:checked~.slider-prev-next-control label:nth-child(3),
       #slide3:checked~.slider-prev-next-control label:nth-child(4),
       #slide4:checked~.slider-prev-next-control label:nth-child(5),
       #slide5:checked~.slider-prev-next-control label:nth-child(1)
      {display:block;float:right;margin-right:5px}
       #slide1:checked~.slider-prev-next-control label:nth-child(5),
       #slide2:checked~.slider-prev-next-control label:nth-child(1),
       #slide3:checked~.slider-prev-next-control label:nth-child(2),
       #slide4:checked~.slider-prev-next-control label:nth-child(3),
       #slide5:checked~.slider-prev-next-control label:nth-child(4)
      {display:block;float:left;margin-left:5px}
       #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
       #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
       #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
       #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
       #slide5:checked~.slider-prev-next-control label:nth-child(4)::after
      {content:"-";padding-left:2px}
       #slide1:checked~.slider-dot-control label:nth-child(1),
       #slide2:checked~.slider-dot-control label:nth-child(2),
       #slide3:checked~.slider-dot-control label:nth-child(3),
       #slide4:checked~.slider-dot-control label:nth-child(4),
       #slide5:checked~.slider-dot-control label:nth-child(5)
      {background:black;}


       #slide1:checked~.slider-wrapper article:nth-child(1) .info,
       #slide2:checked~.slider-wrapper article:nth-child(2) .info,
       #slide3:checked~.slider-wrapper article:nth-child(3) .info,
       #slide4:checked~.slider-wrapper article:nth-child(4) .info,
       #slide5:checked~.slider-wrapper article:nth-child(5) .info
      {opacity:1}
       #slide1:checked~.slider-wrapper .inner{margin-left:0}
       #slide2:checked~.slider-wrapper .inner{margin-left:-100%}
       #slide3:checked~.slider-wrapper .inner{margin-left:-200%}
       #slide4:checked~.slider-wrapper .inner{margin-left:-300%}
       #slide5:checked~.slider-wrapper .inner {margin-left:-400%}

    }


    ////////////////////////////////




    /*Mason Style*/
    .gridywrap {

      div[class*=gridy] {background: #eee;box-shadow: inset 0 0 0 1px #ddd;padding: 15px; float: left;position: relative;}
       .gridy-1, .gridy-2,  .gridy-3 {width: 320px;overflow: hidden;}

      .gridy-1 {width: 100%;}
      .gridy-2 {width: 100%;}
      .gridy-3 {width: 100%;}
      .gridyhe-1 {height: 320px;}
      .gridyhe-2 {height: 320px;}

    .gridimg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-position: center center;
      background-size: cover;
      img {width: 100%;}
    }

      .gridinfo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
        text-align: center;
        transition: all 0.8s;

        h3 {
          font-size: 24px;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
          margin: 130px 0 20px;
          position: relative;
          opacity: 1;

          &:after{
            content: '';
            width: 25px;
            border-top: 4px solid #fff;
            display: block;
            margin: 0 auto;
            margin-top: 25px;
          }


        }

        .gridmeta {transition-delay: 0.25s;
          p {display: inline-block;font-size: 13px;color: #fff;margin-bottom: 15px;
          &.gridwho{margin-left: 25px;}
            &.gridexerpt {width: 60%;margin: 0 auto;line-height: 22px;margin-bottom: 25px;color: #fff;transition-delay: 0.5s;}
          }
          i {margin-right: 5px;}
        }

        * {opacity: 0;transition: all 0.8s;}

        .grid-btn {
          color: #fff;
          text-decoration: none;
          margin: 0 auto;
          width: 35px;
          height: 35px;
          line-height: 35px;
          border: 1px solid #fff;
          display: block;
          overflow: hidden;

          &:hover{width: 75px;background: rgba(0,0,0,0.3);
            span {opacity: 1;display: inline;}
            i {opacity: 0;display: none;}
          }
          span {opacity: 0;display: none;transition: opacity 0.8s;}
        }

        &:hover{
          background: rgba(169,169,169, 0.7);

          * {opacity: 0.7;}
          p {opacity: 1;}
          h3 {margin-top: 70px;opacity: 1;}
        }

      }

    }

    .intro {text-align: center;padding: 25px; color:lightgray;
    p{
      a{color: white; padding-left:5px;}
    }
    }

    /*------------------*/
////////Flyp Styles


    .flip
    {
      position: relative;display: inline-block;margin-right: 2px;margin-bottom: 1em;width: 500px;

    & > .front{
      transform: rotateY(0deg);
      color: white;
      width: inherit;
      background-size: cover !important;
      background-position: center !important;
      height: 220px;
      padding: 1em 2em;
      background: #313131;
      border-radius:2px;
      display: block;
      transition-timing-function:
              cubic-bezier(0.175, 0.885, 0.32, 1.275);transition-duration: 0.5s;transition-property: transform, opacity;

      p {font-size: 0.9125rem;line-height: 160%;color: #999;}
    }

      & > .back {
        position: absolute;opacity: 0;top: 0;left: 0;width: 100%;height: 100%;transform: rotateY(-180deg);
        display: block;transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        p {font-size: 0.9125rem;line-height: 160%;color: #999;}
        color: white;
        //width: inherit;
        background-size: cover !important;
        background-position: center !important;
       // height: 220px;
        padding: 1em 2em;
        background: #313131;
        border-radius:2px;
        transition-duration: 0.5s;transition-property: transform, opacity;}

      &:hover{
        & > .front {transform: rotateY(180deg);}
        & > .back {opacity: 1;transform: rotateY(0deg);}
      }

      &.flip-vertical{
        & > .back {transform: rotateX(-180deg);}

        &:hover{
          & > .front {transform: rotateX(180deg);}
          & > .back {transform: rotateX(0deg);}
        }
      }
    }

    .text-shadow {
      text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04),
      4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
      7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem
      rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04),
      14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px
      rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
    }

    .flip-text { color: #c9d0d4; font-size: 46px; font-weight: 100; line-height: 50px;letter-spacing: 1px; padding: 0 0 40px; border: none !important; }
    .flip-wrap{display:flex; flex-wrap: wrap;; justify-content: space-around;}

    ////////////Text Styles
    .articel{color:darkgray;margin:10px; position: relative;
      .date {
        color: #bbc3c8;
        background: #292929;
        display: inline-block;
        font-style: italic;
        font-size: 1.5em;
        margin: 0 0 20px 18px;
        padding: 10px 12px 8px;
        position: absolute;
        top: 0;
        right:10px;

      }
    }


    ///////404 Not Found Style
    .container-404 {
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: cover;
      .wrapper-404 {text-align: center;
        .text-404 {position: relative;color: white;font-size: 4em;letter-spacing: 0.5em;}
        .sub {color: darkgray;letter-spacing: 1em;}
      }
    }


    /////////// Other Styles
    .SortGroup{display:flex; flex-wrap: wrap; width:100%; flex-direction: column; color:white; margin-left: 10px;}
    .gray-picture-main{filter: grayscale(90%);}
    .picture-gray{filter:grayscale(20%);}


    //////////////////////////////////////////////Media Styles
    .shape-outer {
      transition: 2s;
      display: flex;
      flex-shrink: 0;
      height: 64px;
      width: 64px;
      margin-left: 25px;

      margin-top: auto;
      margin-bottom: auto;

      background-image: linear-gradient(to bottom right, rgb(50,50,50), rgb(169,169,169), rgb(220,220,220));
      &:hover{transition-duration: 2s; transition-delay: 0.2s;  height:128px;width:128px;
        .shape-inner{transition-duration: 2s; transition-delay: 0.2s;height:128px;width:128px;}
      }

    }
    .shape-inner {
      transition: 2s;
      height: 64px;
      width: 64px;
      background: url(pictures/avatar.jpg) no-repeat center;
      background-size: cover;
      margin: auto;
    }
    .bevel {clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);}




    .audio-box{display:flex; flex-direction: row; justify-content: stretch; margin:10px;
      flex-wrap: wrap;
      video{width:400px; height:350px;}
      audio{width:400px;height:50px;}
      .audio-text{margin-top:auto; margin-bottom: auto; color:white; margin-left:25px;}

    }

  }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  html{

    body{

      footer{
        top:400px !important;

      }

    }

  }

}
