@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html body {
  position: relative;
  min-height: 100vh;
  font-family: "Cutive Mono", monospace;
  font-size: 1em;
  min-width: 320px;
  color: black;
  background: #222;
  overflow-x: hidden;
  /*------------*/
  /*Header Style*/
  /*Section Style*/
  /* Анимация */
  /*Main Slyder*/
  /*Mason Style*/
  /*------------------*/
}
html body * {
  box-sizing: border-box;
}
html body h1 {
  color: #c9d0d4;
  font-size: 3em;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 0 0 40px;
  border-bottom: double #555;
}
html body h4 {
  color: dimgrey;
  margin-left: 10px;
}
html body p {
  color: #bbc3c8;
  font-size: 16px;
  line-height: 26px;
  text-indent: 30px;
  margin: 0;
}
html body table {
  width: 100%;
  border-collapse: collapse;
}
html body table tr:nth-of-type(odd) {
  background: #eee;
}
html body table th {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
html body table td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
html body form {
  border: none;
  margin: 20px;
  display: flex;
  flex-direction: row;
}
html body form .in {
  margin-left: 10px;
  border-color: transparent transparent black transparent;
  transition: 2s;
  height: 40px;
  color: white;
  width: 200px;
  font-size: 11px;
  outline: 0;
  border-bottom: 1px solid white;
  background: transparent;
}
html body form .in::placeholder {
  color: lightgray;
}
html body form .in:focus {
  border-bottom: 1px solid #b19a9a;
  transition-delay: 0.2s;
  border-right: 1px solid #b19a9a;
  width: 250px;
  transition-duration: 2s;
}
html body form .out {
  padding-right: 10px;
  font-size: 12px;
  margin-top: 10px;
  color: dimgray;
}
html body .search-field {
  margin-left: 10px;
  border-color: transparent transparent black transparent;
  transition: 2s;
  height: 40px;
  color: white;
  width: 200px;
  font-size: 11px;
  outline: 0;
  border-bottom: 1px solid white;
  background: transparent;
}
html body .search-field::placeholder {
  color: lightgray;
}
html body .search-field:focus {
  border-bottom: 1px solid lightgray;
  transition-delay: 0.2s;
  border-right: 1px solid lightgray;
  width: 250px;
  transition-duration: 2s;
}
html body .color-sort {
  font-size: 12px;
  color: dimgray;
}
html body .flex-sorted-group {
  border-bottom: 1px gray solid;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
html body .field-input.log, html body .field-input-sort {
  display: flex;
  flex-direction: column;
  flex-basis: 75px;
  height: 100px;
  width: 75px;
  justify-content: space-between;
}
html body .field-label.log, html body .field-label-sort {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  height: 100px;
  width: 100px;
  justify-content: space-between;
}
html body .field-input.join {
  display: flex;
  flex-direction: column;
  flex-basis: 75px;
  height: 150px;
  width: 75px;
  justify-content: space-between;
}
html body .field-label.join {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  height: 150px;
  width: 100px;
  justify-content: space-between;
}
html body .form {
  width: 150px;
  height: 50px;
  color: black;
  padding: auto;
  box-shadow: black 2px 2px 2px;
  transition: 2s;
  margin-left: 10px;
}
html body .form:hover {
  transition-duration: 2s;
  transition-delay: 0.2s;
  background: black;
  color: white;
}
html body .button-sort {
  width: 200px;
  height: 30px;
}
html body .form-button-group {
  display: flex;
  flex-direction: row;
}
html body main {
  position: relative;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
html body header {
  display: flex;
  justify-content: center;
  height: 0em;
  width: 100%;
  position: fixed;
  z-index: 111111;
}
html body header .menu-header-label {
  transition: 0.75s ease-in-out;
  display: none;
  height: 1em;
  width: 4em;
  cursor: pointer;
  position: relative;
  top: 0;
  border: 2px solid white;
  background: dimgrey;
}
html body header .menu-expand-check {
  display: none;
}
html body header .header {
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 9999;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.95);
  transition: 0.5s ease-in-out;
  height: 5em;
}
html body header .header .menu-header {
  height: 60%;
}
html body header .header .menu-header ul {
  text-align-last: justify;
}
html body header .header .menu-header ul li {
  margin: 0.75em;
  display: inline-block;
  position: relative;
  height: 2em;
}
html body header .header .menu-header ul li:hover {
  text-decoration: line-through;
}
html body header .header .menu-header ul li:hover ul {
  text-align: center;
  text-align-last: center;
  position: absolute;
  top: 2em;
  display: block;
}
html body header .header .menu-header ul li:hover ul li {
  margin: 0;
  display: block;
  background-color: white;
  width: 10em;
}
html body header .header .menu-header ul li:hover ul li:hover {
  text-decoration: line-through;
}
html body header .header .menu-header ul li:last-of-type {
  margin-right: 1.5em;
}
html body header .header .menu-header ul li:last-of-type:hover ul {
  text-align: left;
  text-align-last: left;
  position: absolute;
  top: 2em;
  right: 0;
  display: block;
}
html body header .header .menu-header ul li:first-of-type {
  margin-left: 1.5em;
}
html body header .header .menu-header ul li:first-of-type:hover ul {
  text-align: left;
  text-align-last: left;
  position: absolute;
  top: 2em;
  left: 2em;
  display: block;
}
html body header .header .menu-header ul li ul {
  display: none;
  z-index: 10000;
}
html body header .header .sub-menu-header {
  height: 40%;
  background-color: rgba(169, 169, 169, 0.95);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  z-index: -10;
  padding-right: 20px;
}
html body header .header .sub-menu-header div {
  display: flex;
  justify-content: space-between;
}
html body header .header .sub-menu-header .sub-menu-flex .localization-group {
  margin-top: auto;
  margin-bottom: auto;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch {
  position: relative;
  width: 90px;
  margin-left: 10px;
  z-index: 9998;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-checkbox {
  display: none;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner:before, html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner:before {
  content: "Black";
  padding-left: 10px;
  background-color: white;
  color: black;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-inner:after {
  content: "White";
  padding-right: 10px;
  background-color: white;
  color: black;
  text-align: right;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 1px solid #999999;
  transition: all 0.3s ease-in 0s;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-inner {
  margin-left: 0;
}
html body header .header .sub-menu-header .sub-menu-flex .black-white-switch-checkbox:checked + .black-white-switch-label .black-white-switch-switch {
  right: 0px;
  background-color: #000203;
}
html body header .header .sub-menu-header .button-group {
  width: 75px;
  transition: 2s;
  display: flex;
  justify-content: space-between;
}
html body header .header .sub-menu-header .button-group button:hover {
  transition-delay: 0.2s;
  transition-duration: 2s;
  background: black;
  outline: white;
}
html body header .header .sub-menu-header .button-group button:hover a {
  transition-delay: 0.2s;
  transition-duration: 2s;
  color: white;
}
html body footer {
  margin: 0;
  padding: 0;
  height: 10em;
  background-color: darkgray;
  width: 100%;
}
html body footer ul {
  text-align-last: justify;
}
html body footer ul li {
  position: relative;
  top: 10px;
  padding: 0 10px;
  display: inline-block;
}
html body footer ul li:hover {
  text-decoration: line-through;
}
html body footer address {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
html body .image-card {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  width: 100%;
  position: relative;
}
html body .image-card .img {
  position: relative;
  width: 40%;
}
html body .image-card .img .card-picture {
  height: 400px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  filter: grayscale(90%);
  transition: 2s;
}
html body .image-card .img .card-picture:hover {
  transition-duration: 2s;
  transition-delay: 0.2s;
}
html body .image-card .img .text-image {
  transition: 1s;
  font-size: 0;
  color: darkgray;
  position: absolute;
  left: 20px;
  bottom: 25px;
  background-color: rgba(50, 50, 50, 0.9);
}
html body .image-card:hover .text-image {
  font-size: 20px;
}
html body .image-card:hover .text-field {
  color: white;
  transition-delay: 0.2s;
  transition-duration: 1s;
}
html body .image-card:hover .button-card {
  transition-delay: 0.2s;
  background-color: white;
  transition-duration: 2s;
}
html body .image-card .text-field {
  transition: 2s;
  margin-left: 10px;
  position: relative;
  width: 60%;
}
html body .image-card .text-field h3 {
  text-align: center;
}
html body .image-card .text-field h3:before {
  content: "|";
}
html body .image-card .text-field h3:after {
  content: "|";
}
html body .image-card .text-field h3 span:before {
  content: "-|";
}
html body .image-card .text-field h3 span:after {
  content: "|-";
}
html body .image-card .button-card {
  position: relative;
  top: 10px;
  width: 100%;
  transition: 2s;
  margin: 0 auto;
  background-color: darkgray;
  height: 50px;
}
html body .link {
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  color: black;
}
@keyframes cycle {
  0% {
    right: 0;
  }
  4% {
    right: 0;
  }
  16% {
    right: 0;
    opacity: 1;
    z-index: 0;
  }
  20% {
    right: 100%;
    opacity: 0;
    z-index: 0;
  }
  21% {
    right: -100%;
    opacity: 0;
    z-index: -2000;
  }
  92% {
    right: -100%;
    opacity: 0;
    z-index: 0;
  }
  96% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 100%;
    opacity: 1;
  }
}
@keyframes cycletwo {
  0% {
    right: -100%;
    opacity: 0;
  }
  16% {
    right: -100%;
    opacity: 0;
  }
  20% {
    right: 0;
    opacity: 1;
  }
  24% {
    right: 0;
    opacity: 1;
  }
  36% {
    right: 0;
    opacity: 1;
    z-index: 0;
  }
  40% {
    right: 100%;
    opacity: 0;
    z-index: 0;
  }
  41% {
    right: -100%;
    opacity: 0;
    z-index: -2000;
  }
  100% {
    right: -100%;
    opacity: 0;
    z-index: -2000;
  }
}
@keyframes cyclethree {
  0% {
    right: -100%;
    opacity: 0;
  }
  36% {
    right: -100%;
    opacity: 0;
  }
  40% {
    right: 0;
    opacity: 1;
  }
  44% {
    right: 0;
    opacity: 1;
  }
  56% {
    right: 0;
    opacity: 1;
  }
  60% {
    right: 100%;
    opacity: 0;
    z-index: 0;
  }
  61% {
    right: -100%;
    opacity: 0;
    z-index: -2000;
  }
  100% {
    right: -100%;
    opacity: 0;
    z-index: -2000;
  }
}
@keyframes cyclefour {
  0% {
    right: -100%;
    opacity: 0;
  }
  56% {
    right: -100%;
    opacity: 0;
  }
  60% {
    right: 0;
    opacity: 1;
  }
  64% {
    right: 0;
    opacity: 1;
  }
  76% {
    right: 0;
    opacity: 1;
    z-index: 0;
  }
  80% {
    right: 100%;
    opacity: 0;
    z-index: 0;
  }
  81% {
    right: -100%;
    opacity: 0;
    z-index: -2000;
  }
  100% {
    right: -100%;
    opacity: 0;
    z-index: -2000;
  }
}
@keyframes cyclefive {
  0% {
    right: -100%;
    opacity: 0;
  }
  76% {
    right: -100%;
    opacity: 0;
  }
  80% {
    right: 0;
    opacity: 1;
  }
  84% {
    right: 0;
    opacity: 1;
  }
  96% {
    right: 0;
    opacity: 1;
    z-index: 0;
  }
  100% {
    right: 100%;
    opacity: 0;
    z-index: 0;
  }
}
@keyframes fullexpand {
  0%, 20%, 40%, 60%, 80%, 100% {
    width: 0;
    opacity: 0;
  }
  4%, 24%, 44%, 64%, 84% {
    width: 0;
    opacity: 0.3;
  }
  16%, 36%, 56%, 76%, 96% {
    width: 100%;
    opacity: 0.7;
  }
  17%, 37%, 57%, 77%, 97% {
    width: 100%;
    opacity: 0.3;
  }
  18%, 38%, 58%, 78%, 98% {
    width: 100%;
    opacity: 0;
  }
}
html body .slider-news {
  height: 600px;
  margin: 30px;
  border: 1px solid lightgray;
  background: dimgray;
  overflow: visible;
  position: relative;
}
html body .slider-news:hover li {
  animation-play-state: paused;
}
html body .slider-news:hover .progress-bar {
  animation-play-state: paused;
}
html body .slider-news .progress-bar {
  position: relative;
  top: -5px;
  width: 100%;
  height: 5px;
  background: #000;
  animation: fullexpand 50s ease-out infinite;
}
html body .slider-news .mask-slider {
  overflow: hidden;
  height: 100%;
}
html body .slider-news .mask-slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}
html body .slider-news .mask-slider ul li {
  width: 100%;
  height: 600px;
  position: absolute;
  right: -100%;
  list-style: none;
}
html body .slider-news .mask-slider ul li img {
  width: 100%;
  height: 100%;
}
html body .slider-news .mask-slider ul li:nth-of-type(1) {
  animation: cycle 50s linear infinite;
}
html body .slider-news .mask-slider ul li:nth-of-type(2) {
  animation: cycletwo 50s linear infinite;
}
html body .slider-news .mask-slider ul li:nth-of-type(3) {
  animation: cyclethree 50s linear infinite;
}
html body .slider-news .mask-slider ul li:nth-of-type(4) {
  animation: cyclefour 50s linear infinite;
}
html body .slider-news .mask-slider ul li:nth-of-type(5) {
  animation: cyclefive 50s linear infinite;
}
html body .wrapper-slider {
  max-width: 75%;
  margin: 1em auto;
  position: relative;
}
html body .wrapper-slider input {
  display: none;
}
html body .wrapper-slider .inner {
  width: 500%;
  line-height: 0;
}
html body .wrapper-slider article {
  width: 20%;
  float: left;
  position: relative;
}
html body .wrapper-slider article img {
  width: 100%;
  height: 600px;
  filter: grayscale(90%);
}
html body .wrapper-slider .slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
html body .wrapper-slider .slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  background: #fff;
  opacity: 0.7;
}
html body .wrapper-slider .slider-prev-next-control label:hover {
  opacity: 1;
}
html body .wrapper-slider .slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
html body .wrapper-slider .slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  transition: all 0.3s;
}
html body .wrapper-slider .slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}
html body .wrapper-slider .info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  transition: all 1s ease-out 0.6s;
  z-index: 200;
}
html body .wrapper-slider .info h3 {
  color: black;
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
  text-shadow: white 3px 3px 3px;
}
html body .wrapper-slider .info.top-left {
  top: 30px;
  left: 30px;
}
html body .wrapper-slider .info.top-right {
  top: 30px;
  right: 30px;
}
html body .wrapper-slider .info.bottom-left {
  bottom: 30px;
  left: 30px;
}
html body .wrapper-slider .info.bottom-right {
  bottom: 30px;
  right: 30px;
}
html body .wrapper-slider .slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  transform: translateZ(0);
  transition: all 0.5s ease-out;
}
html body .wrapper-slider .slider-wrapper .inner {
  transform: translateZ(0);
  transition: ease-in-out 0.8s;
}
html body .wrapper-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
html body .wrapper-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after,
html body .wrapper-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
html body .wrapper-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
html body .wrapper-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
html body .wrapper-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
html body .wrapper-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
html body .wrapper-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
html body .wrapper-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after,
html body .wrapper-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after {
  cursor: pointer;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: black;
}
html body .wrapper-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
html body .wrapper-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
html body .wrapper-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
html body .wrapper-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
html body .wrapper-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  content: "-";
  padding-left: 15px;
}
html body .wrapper-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(2),
html body .wrapper-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(3),
html body .wrapper-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(4),
html body .wrapper-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(5),
html body .wrapper-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px;
}
html body .wrapper-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(5),
html body .wrapper-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(1),
html body .wrapper-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(2),
html body .wrapper-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(3),
html body .wrapper-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(4) {
  display: block;
  float: left;
  margin-left: 5px;
}
html body .wrapper-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after,
html body .wrapper-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
html body .wrapper-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
html body .wrapper-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
html body .wrapper-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after {
  content: "-";
  padding-left: 2px;
}
html body .wrapper-slider #slide1:checked ~ .slider-dot-control label:nth-child(1),
html body .wrapper-slider #slide2:checked ~ .slider-dot-control label:nth-child(2),
html body .wrapper-slider #slide3:checked ~ .slider-dot-control label:nth-child(3),
html body .wrapper-slider #slide4:checked ~ .slider-dot-control label:nth-child(4),
html body .wrapper-slider #slide5:checked ~ .slider-dot-control label:nth-child(5) {
  background: black;
}
html body .wrapper-slider #slide1:checked ~ .slider-wrapper article:nth-child(1) .info,
html body .wrapper-slider #slide2:checked ~ .slider-wrapper article:nth-child(2) .info,
html body .wrapper-slider #slide3:checked ~ .slider-wrapper article:nth-child(3) .info,
html body .wrapper-slider #slide4:checked ~ .slider-wrapper article:nth-child(4) .info,
html body .wrapper-slider #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
  opacity: 1;
}
html body .wrapper-slider #slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0;
}
html body .wrapper-slider #slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}
html body .wrapper-slider #slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}
html body .wrapper-slider #slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}
html body .wrapper-slider #slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}
html body .gridywrap div[class*=gridy] {
  background: #eee;
  box-shadow: inset 0 0 0 1px #ddd;
  padding: 15px;
  float: left;
  position: relative;
}
html body .gridywrap .gridy-1, html body .gridywrap .gridy-2, html body .gridywrap .gridy-3 {
  width: 320px;
  overflow: hidden;
}
html body .gridywrap .gridy-1 {
  width: 100%;
}
html body .gridywrap .gridy-2 {
  width: 100%;
}
html body .gridywrap .gridy-3 {
  width: 100%;
}
html body .gridywrap .gridyhe-1 {
  height: 320px;
}
html body .gridywrap .gridyhe-2 {
  height: 320px;
}
html body .gridywrap .gridimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
html body .gridywrap .gridimg img {
  width: 100%;
}
html body .gridywrap .gridinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: all 0.8s;
}
html body .gridywrap .gridinfo h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 130px 0 20px;
  position: relative;
  opacity: 1;
}
html body .gridywrap .gridinfo h3:after {
  content: "";
  width: 25px;
  border-top: 4px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
html body .gridywrap .gridinfo .gridmeta {
  transition-delay: 0.25s;
}
html body .gridywrap .gridinfo .gridmeta p {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-bottom: 15px;
}
html body .gridywrap .gridinfo .gridmeta p.gridwho {
  margin-left: 25px;
}
html body .gridywrap .gridinfo .gridmeta p.gridexerpt {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 25px;
  color: #fff;
  transition-delay: 0.5s;
}
html body .gridywrap .gridinfo .gridmeta i {
  margin-right: 5px;
}
html body .gridywrap .gridinfo * {
  opacity: 0;
  transition: all 0.8s;
}
html body .gridywrap .gridinfo .grid-btn {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #fff;
  display: block;
  overflow: hidden;
}
html body .gridywrap .gridinfo .grid-btn:hover {
  width: 75px;
  background: rgba(0, 0, 0, 0.3);
}
html body .gridywrap .gridinfo .grid-btn:hover span {
  opacity: 1;
  display: inline;
}
html body .gridywrap .gridinfo .grid-btn:hover i {
  opacity: 0;
  display: none;
}
html body .gridywrap .gridinfo .grid-btn span {
  opacity: 0;
  display: none;
  transition: opacity 0.8s;
}
html body .gridywrap .gridinfo:hover {
  background: rgba(169, 169, 169, 0.7);
}
html body .gridywrap .gridinfo:hover * {
  opacity: 0.7;
}
html body .gridywrap .gridinfo:hover p {
  opacity: 1;
}
html body .gridywrap .gridinfo:hover h3 {
  margin-top: 70px;
  opacity: 1;
}
html body .intro {
  text-align: center;
  padding: 25px;
  color: lightgray;
}
html body .intro p a {
  color: white;
  padding-left: 5px;
}
html body .flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 500px;
}
html body .flip > .front {
  transform: rotateY(0deg);
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 2px;
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
html body .flip > .front p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
html body .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: white;
  background-size: cover !important;
  background-position: center !important;
  padding: 1em 2em;
  background: #313131;
  border-radius: 2px;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
html body .flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
html body .flip:hover > .front {
  transform: rotateY(180deg);
}
html body .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
html body .flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
html body .flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
html body .flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
html body .text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
html body .flip-text {
  color: #c9d0d4;
  font-size: 46px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 0 0 40px;
  border: none !important;
}
html body .flip-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
html body .articel {
  color: darkgray;
  margin: 10px;
  position: relative;
}
html body .articel .date {
  color: #bbc3c8;
  background: #292929;
  display: inline-block;
  font-style: italic;
  font-size: 1.5em;
  margin: 0 0 20px 18px;
  padding: 10px 12px 8px;
  position: absolute;
  top: 0;
  right: 10px;
}
html body .container-404 {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
html body .container-404 .wrapper-404 {
  text-align: center;
}
html body .container-404 .wrapper-404 .text-404 {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
}
html body .container-404 .wrapper-404 .sub {
  color: darkgray;
  letter-spacing: 1em;
}
html body .SortGroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  color: white;
  margin-left: 10px;
}
html body .gray-picture-main {
  filter: grayscale(90%);
}
html body .picture-gray {
  filter: grayscale(20%);
}
html body .shape-outer {
  transition: 2s;
  display: flex;
  flex-shrink: 0;
  height: 64px;
  width: 64px;
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: linear-gradient(to bottom right, #323232, darkgray, gainsboro);
}
html body .shape-outer:hover {
  transition-duration: 2s;
  transition-delay: 0.2s;
  height: 128px;
  width: 128px;
}
html body .shape-outer:hover .shape-inner {
  transition-duration: 2s;
  transition-delay: 0.2s;
  height: 128px;
  width: 128px;
}
html body .shape-inner {
  transition: 2s;
  height: 64px;
  width: 64px;
  background: url(pictures/avatar.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
}
html body .bevel {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
html body .audio-box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 10px;
  flex-wrap: wrap;
}
html body .audio-box video {
  width: 400px;
  height: 350px;
}
html body .audio-box audio {
  width: 400px;
  height: 50px;
}
html body .audio-box .audio-text {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  margin-left: 25px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html body footer {
    top: 400px !important;
  }
}

/*# sourceMappingURL=style-mmg.css.map */
